@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row justify-content-md-center text-center">
    <div class="col col-3 bg-white">
        <h3>Back-End</h3>

        <p>
            Experiencia en crecion de aplicaciones de escritorio con C#
        </p>

        <p class="text-primary cabecera">
            Stack:
        </p>

        <p>
            Asp.net, Sql server
        </p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>

        <ul>
            <li>Web Api</li>
            <li>Asp.Net Core MVC</li>
            <li>Consultor Sql</li>
        </ul>
    </div>
    <div class="col col-3 bg-white">
        <h3>Front-end</h3>

        <p>
            Experiencia Desarrollando paginas de alto impacto mundial que pasa
        </p>

        <p class="text-primary cabecera">
            Stack:
        </p>

        <p>
            HTMl, css
        </p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>

        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
        </ul>
    </div>

</div>


